<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.aurawind.AuraWind.SMCHelper</string>
    
    <key>MachServices</key>
    <dict>
        <key>com.aurawind.AuraWind.SMCHelper</key>
        <true/>
    </dict>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Library/PrivilegedHelperTools/com.aurawind.AuraWind.SMCHelper</string>
    </array>
    
    <!-- 保持运行 -->
    <key>KeepAlive</key>
    <true/>
    
    <!-- 以 root 权限运行 -->
    <key>RunAtLoad</key>
    <true/>
    
    <!-- 标准输出和错误输出 -->
    <key>StandardOutPath</key>
    <string>/var/log/AuraWind.SMCHelper.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/AuraWind.SMCHelper.error.log</string>
</dict>
</plist>
